<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.professionalpractice.mapper.UserMapper">
    <resultMap id="user" type="cn.edu.bjfu.professionalpractice.models.User">
        <id column="u_id" property="u_id" javaType="String" />
        <result column="u_password" property="u_password" javaType="String" />
        <result column="u_type" property="u_type" javaType="String" />
    </resultMap>
    <select id="findOneById" resultType="cn.edu.bjfu.professionalpractice.models.User">
        select * from  UserTable
        <trim prefixOverrides="and">
            <where>
                <if test="u_id!=null">
                    and u_id = #{u_id}
                </if>
            </where>
        </trim>
    </select>

</mapper>